<!DOCTYPE html>
<html lang="en">

<%- include('head') %>

<body>  
  <div class="hero">
    <header class="container">
      <p><a href="#" role="button">
        Welcome to <%= name %>
      </a></p>
    </header>
  </div>
  
  <main class="container">
    
    
    <section>
      <div class="grid">
        <div>
          <h4>About us</h4>
          <p>We are a local, community-driven, restaurant focused on healthy food.</p>
        </div>
        <div>
          <h4>Menu</h4>
          <p>With a delicious listing, you have lots of tasty food to choose from.</p>
          <p><a href="/menu" role="button">
            View Menu
          </a></p>
        </div>
        <div>
          <h4>Working Hours</h4>
          <p>We try to stay open so you get the food you want when you want it.</p>
          <p><a href="/hours" role="button">
            View Hours
          </a></p>
        </div>
      </div>
    </section>
  </main>
  
  <footer class="container">
    <small>Copyright <a href="#"> What's Fare is Fair</a></small>
  </footer>