<!DOCTYPE html>
<html lang="en">

<%- include('head') %>

  <body>

    <main class="container">
      <!-- Page title -->
      <h1>Our Menu</h1>

      <section>
        <div class="grid">
          <!-- JS loop over menu items -->
          <% for(let item of menuItems){ %>
            <div>
              <!-- Display menu item name in bold -->
              <h5>
                <%= item.name %>
              </h5>
              <!-- Display menu description and cost -->
              <small>
                <%= item.description %>
              </small>
              <div>$<%= item.cost %>
              </div> <br />
              <p><a href="/hours" role="button">
                  Order Now
                </a></p>
            </div>
            <% }%>
        </div>
      </section>
    </main>

    <footer class="container">
      <small>Copyright <a href="#"> What's Fare is Fair</a></small>
    </footer>