<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Restaurant</title>
</head>

<body>
  <!-- Page title -->
  <h1>Our Menu</h1>
  <ol>
    <!-- JS loop over menu items -->
    <% for(let item of menuItems){ %>
      <li>
        <!-- Display menu item name in bold -->
        <strong><%= item.name %></strong>
        <!-- Display menu description and cost -->
        <%= item.description %>
        <%= item.cost %>
      </li>
    <% }%>
  </ol>
</body>

</html>